<div class="row col-md-10" style="background-color: #F4F3EF">
  <div
    class="col-md-3"
    *ngFor="let account of accountList"
    style="text-align: center;"
  >
    <button
      [ngStyle]="selectedStyle(account.id)"
      id="account"
      class="card card-stats col-md-12"
      type="button btn-primary"
      (click)="sendSelectedAccount(account)"
      style="background-color: #E1F5FE; padding-left: 0; padding-right: 0;"
    >
      <div class="card-header">
        <h4 id="account-type" style="display: inline-block ">
          Conta {{ account.type }}
        </h4>
        <h6
          class="card-title"
          id="account-number"
          style="display: inline-block "
        >
          Nº de Conta: {{ account.accountNumber }}
        </h6>
      </div>
      <div
        class="card-body col-md-12"
        id="account-button"
        style="display: inline-block "
      >
        <div
          class="row col-md-12 balance-info"
          style="padding-left: 15px; padding-right: 15px;"
        >
          <i class="nc-icon nc-money-coins text-success"></i>

          <span>
            <div class="numbers">
              <p class="card-category">Saldo</p>
              <p class="balance">{{ account.balance }} €</p>
            </div>
          </span>
        </div>
      </div>
    </button>
  </div>
</div>
<div class="row col-md-12" *ngIf="selectedAccount !== null && accountInfoPopUp">
  <div class="card card-account-info col-md-12">
    <div class="card-header">
      <h5 class="card-title">Informações de Conta</h5>
    </div>
    <div class="card-body col-md-12" id="account-info">
      <div class="row">
        <div class="col-md-2">
          <label for="type">Tipo de Conta</label>
          <p type="text" class="form-control">{{ selectedAccount.type }}</p>
        </div>
        <div class="col-md-4">
          <label for="iban">IBAN</label>
          <p type="text" class="form-control">{{ selectedAccount.iban }}</p>
        </div>
        <div class="col-md-2">
          <label for="accountNumber">Número de Conta</label>
          <p type="text" class="form-control">
            {{ selectedAccount.accountNumber }}
          </p>
        </div>
        <div class="col-md-2">
          <label for="cretedAt">Data de Abertura</label>
          <p type="text" class="form-control">{{ createdAt }}</p>
        </div>
        <div class="col-md-2">
          <label for="interest">Juros Anuais</label>
          <p type="text" class="form-control">
            {{ selectedAccount.interest }} %
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
