<div class="col-sm-10 offset-sm-1" style="padding: 0">
  <app-account-list [component]="this" ></app-account-list>
</div>



<!-- <div class="col-lg-12 col-md-12 col-sm-6">
  <div class="row">
    <div class="card card-stats" style="margin-right: 2%" *ngFor="let account of accounts">
      <div class="card-header">
        <h6 class="card-title">Número de Conta: {{account.accountNumber}}</h6>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Saldo</p>
              <p class="card-title">{{account.balance}} €
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Atualizar
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card card-chart col-md-12">
      <div class="card-header">
        <h6 class="card-title">Flutuação de saldo</h6>
        <p class="card-category">Referente ao mês atual</p>
      </div>
      <div class="card-body">
        <label for="currency">Em €</label><canvas id="speedChart" width="400" height="100"></canvas><label for="days" style="float: right">Em dias do mês</label>
      </div>
      <div class="card-footer">
        <div class="chart-legend" style="padding-bottom: 2%">
          <i class="fa fa-circle" style="padding-right: 1%;" [style.color]="account.color" *ngFor="let account of accounts"><label>&nbsp;&nbsp;{{account.id}}</label></i>
        </div>
      </div>
    </div>
  </div> -->

