<div class="row col-md-10" style="padding-left: 15px;">
    <div class="card col-md-4" style="margin-right: 15px;">
        <input type="text" class="form-control" name="searchString" placeholder="Pesquisar por cartão de cidadão..."
            [(ngModel)]="searchString" style="border-width: 0; padding: 15px;" />
    </div>
    <div class="card col-md-2">
        <select class="form-control" value="ALL" name="status" #f (change)="fetchClients(f.value)"
            style="border-width: 0px; margin: auto;">
            <ng-container *ngFor="let status of statusArray">
                <option [value]="status">{{ status }}</option>
            </ng-container>
        </select>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            Morada
                        </th>
                        <th>
                            Cartão de Cidadão
                        </th>
                        <th class="text-right">
                            Estado
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients | filter: 'clientCc':searchString"
                        (click)="openModal(withdrawModal, client)">
                        <td>
                            {{ client.fullName }}
                        </td>
                        <td>
                            {{ client.address }}
                        </td>
                        <td>
                            {{ client.clientCc }}
                        </td>
                        <td class="text-right">
                            {{ client.status }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <ng-template #withdrawModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
                Selecionar conta e introduzir quantia a levantar
            </h4>
            <button type="button" class="close" aria-label="Close"
                (click)="modal.dismiss('Cross click'); activeModal = false">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <alert></alert>
            <form #form="ngForm">
                <div class="row col-md-8">
                    <div class="form-group">
                        <label for="selectAccount">Selecionar conta</label>
                        <select name="account" class="form-control" [(ngModel)]="selectedAccount"
                            [ngClass]="{ 'is-invalid': account.touched && account.errors }" #account="ngModel" required>
                            <option *ngFor="let account of accounts" [ngValue]="account">Número:
                                {{ account.accountNumber }} | IBAN:
                                {{ account.iban }}</option>
                        </select>
                        <div *ngIf="account.touched && account.hasError('required')" class="invalid-feedback">
                            Selecione uma conta!
                        </div>
                    </div>
                </div>
                <div class="row col-md-8">
                    <div class="form-group">
                        <label for="amount">Quantia a levantar</label>
                        <input type="number" class="form-control" name="amount" required [(ngModel)]="newWithdraw.value"
                            [ngClass]="{ 'is-invalid': amount.touched && amount.errors }" #amount="ngModel" required
                            [min]="5">
                    </div>
                </div>
                <button type="submit" class="btn btn-success" (click)="doWithdraw()" [disabled]="form.invalid">
                    Levantar
                </button>
            </form>
        </div>
    </ng-template>