div.card-body.col-md-12 {
  padding-left: 0px;
  padding-right: 0px;
}

div.row.col-md-12 {
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;
}

#transferCol {
  padding-left: 0px;
}

.payment-value {
  padding-top: 6px;
}

.eye-icon {
  width: 30px;
  font-size: 18px;
  /* border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; */
}

.pass-control {
  flex: 1;
  /* border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; */
}

.security-code {
  display: flex;
  flex-direction: row;
}

#eyeClose {
  display: block;
  margin: auto;
  padding-top: 9.5px;
}

#eyeClose:hover {
  color: lightskyblue;
}

button {
  margin-right: 15px;
}

.invalid-text {
  padding-top: 4px;
  font-size: 80%;
  color: #dc3545;
}
