<div>
        <form>
                
                <div class="card card-user-login col-md-12">
                    <div class="card-header">
                    <h5 class="card-title">Dados Login</h5>
                    </div>
                    <div class="card-body col-md-12">
                        <div class="row col-md-12" >
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <h6>{{teste}}</h6>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" >
                                    <label for="username">Username</label>
                                    <h3 class="form-control" >{{teste}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card card-user-data col-md-12">
                    <div class="card-header">
                        <h5 class="card-title" >Dados Pessoais</h5>
                    </div>
                    <div class="card-body col-md-12">
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fullName">Nome Completo</label>
                                    <input type="text" class="form-control" value="{{client.fullName}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="birthDate">Data de Nascimento</label>
                                    <input type="text" class="form-control" value="{{client.birthDate}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="nationality">Nacionalidade</label>
                                    <input type="text" class="form-control" value="{{client.nationality}}">
                                </div>
                            </div> 
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="clientCC">Número de C.C.</label>
                                    <input type="text" class="form-control" value="{{client.clientCC}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="nif">NIF</label>
                                    <input type="text" class="form-control" value="{{client.nif}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="phoneNumber">Telefone</label>
                                    <input type="text" class="form-control" value="{{client.phoneNumber}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" >
                                    <label for="mobileNumber">Telemóvel</label>
                                    <input type="text" class="form-control" value="{{client.mobileNumber}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card card-user-address col-md-12">
                    <div class="card-header">
                        <h5 class="card-title">Dados Morada</h5>
                    </div>
                    <div class="card-body col-md-12">
                        <div class="row col-md-12">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="address">Morada</label>
                                    <input type="text" class="form-control" value="{{client.address}}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="zipCode">Código Postal</label>
                                    <input type="text" class="form-control" value="{{client.zipCode}}">
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="county">Localidade</label>
                                    <input type="text" class="form-control" value="{{client.county}}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="country">País</label>
                                    <input type="text" class="form-control" value="{{client.country}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="card card-user-options col-md-12">
                    <div class="card-header">
                        <h5 class="card-title">Opções de Sistema</h5>
                    </div>
                    <div class="card-body col-md-12">
                        <div class="row col-md-12" style="margin-bottom: 5px; margin-left: 5px"> 
                            <div class="switch_box box_1">
                                <input type="checkbox" class="switch_1">
                            </div>
                            <label class="checkbox-text" for="notification">Notificações por Email</label>
                        </div>   
                        <div class="row col-md-12" style="margin-bottom: 5px; margin-left: 5px"> 
                            <div class="switch_box box_1">
                                <input type="checkbox" class="switch_1">
                            </div>                             
                            <label class="checkbox-text" for="active">Active</label>
                        </div>                                                           
                    </div>
                </div>            
        </form>
    </div>
