<div class="col-sm-12" style="padding: 0">
  <app-account-list [component]="this" ></app-account-list>
</div>
<alert></alert>
<div class="card">
  <div class="card-body">
    <div>
      <span>
        <a class="btn btn-primary" (click)="filterTransaction = null" [ngStyle]="filterTransaction === null ? { 'background-color': 'black', 'color': 'white' }: null">Todos os Movimentos</a>
        <a class="btn btn-primary" (click)="filterTransaction = 'DEPÓSITO'" [ngStyle]="filterTransaction === 'DEPÓSITO' ? { 'background-color': 'black', 'color': 'white' }: null">Depósitos</a>
        <a class="btn btn-primary" (click)="filterTransaction = 'LEVANTAMENTO'" [ngStyle]="filterTransaction === 'LEVANTAMENTO' ? { 'background-color': 'black', 'color': 'white' }: null">Levantamentos</a>
        <a class="btn btn-primary" (click)="filterTransaction = 'TRANSFERÊNCIA'" [ngStyle]="filterTransaction === 'TRANSFERÊNCIA' ? { 'background-color': 'black', 'color': 'white' }: null">Transferências</a>
        <a class="btn btn-primary" (click)="filterTransaction = 'PAGAMENTO'" [ngStyle]="filterTransaction === 'PAGAMENTO' ? { 'background-color': 'black', 'color': 'white' }: null">Pagamentos</a>
      </span>
    </div>
    <hr>
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <tr>
            <th>Data</th>
            <th>Conta de Origem</th>
            <th >Valor da transação</th>
            <th >Tipo de Transacção</th>
          </tr>
        </thead>
        <tbody *ngIf="filterTransaction !== null">
          <tr *ngFor="let transaction of transactionList" (click)="openModal(transactionDetailsModal, transaction)">
            <td *ngIf="transaction.type === filterTransaction">{{ transaction.date }}</td>
            <td *ngIf="transaction.type === filterTransaction">{{ transaction.accountIban }}</td>
            <td *ngIf="transaction.type === filterTransaction">{{ transaction.value }} €</td>
            <td *ngIf="transaction.type === filterTransaction">{{ transaction.type }}</td>
          </tr>
        </tbody>
        <tbody *ngIf="filterTransaction === null">
            <tr *ngFor="let transaction of transactionList" (click)="openModal(transactionDetailsModal, transaction)">
              <td>{{ transaction.date }}</td>
              <td>{{ transaction.accountIban }}</td>
              <td>{{ transaction.value }} €</td>
              <td>{{ transaction.type }}</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #transactionDetailsModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Detalhes do Movimento</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); activeModal = false;">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <alert></alert>
      <div class="row col-sm-12">
        <div class="col-sm-4">
          <label for="date">Data:</label>
          <p></p>
        </div>
        <div class="col-sm-4">
          <label for="hour">Hora:</label>
          <p></p>
        </div>
        <div class="col-sm-4">
          <label for="type">Tipo:</label>
          <p></p>
        </div>
      </div>
      <div class="row col-sm-12">
        <!-- <div class="col-sm-4" *ngIf="selectedTransaction.type === 'Pagamento'">
          <label for="date">IBAN de Destino</label>
          <p>{{selectedTransaction.destinationIban}}</p>
        </div>
        <div class="col-sm-4" *ngIf="selectedTransaction.type !== 'Pagamento'">
          <label for="date">Conta de Destino</label>
          <p>{{selectedTransaction.entity}} - {{selectedTransaction.reference}}</p>
        </div> -->
        <div class="col-sm-4">
          <label for="hour">Hora:</label>
          <p></p>
        </div>
        <div class="col-sm-4">
          <label for="type">Tipo:</label>
          <p></p>
        </div>
      </div>

    </div>
  </ng-template>
