button#account:focus,
button#account:hover {
  border: #4a90e2;
  background-color: #4a90e2;
  outline: transparent;
}

button#account {
  border: transparent;
  border-radius: 10px;
  padding: 3px;
  background-color: transparent;
}

.card-title {
  padding-left: 15px;
}

.table tbody tr:hover {
  background-color: #cce7e7;
  cursor: pointer;
}

.general-padding {
  padding: 0;
}

#transactionDetails.modal-body label {
  font-weight: 550;
}
