<div class="col-sm-10 offset-sm-1" style="padding: 0">
  <app-account-list [component]="this" ></app-account-list>
</div>

<div class="col-sm-10 offset-sm-1" style="padding: 0; margin-top: 2%">
  <div class="card card-movements col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <tr>
            <th> Name </th>
            <th> Country </th>
            <th> City </th>
            <th class="text-right"> Salary </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> Dakota Rice </td>
            <td> Niger </td>
            <td> Oud-Turnhout </td>
            <td class="text-right"> $36,738 </td>
          </tr>
          <tr>
            <td> Minerva Hooper </td>
            <td> Curaçao </td>
            <td> Sinaai-Waas </td>
            <td class="text-right"> $23,789 </td>
          </tr>
      </table>
    </div>
  </div>
</div>
