<div>
    <app-account-list [component]="this" ></app-account-list>
</div>

<div class="card card-user-login col-md-12">
    <div class="card-header">
        <h5 class="card-title">Pagamento de Serviços</h5>
    </div>
    <div class="card-body col-md-12">
        <div class="row col-md-12">
            <div class="col-md-6">
                <div class="row col-md-12">
                    <div class="col-md-2" style="padding-right: 0; padding-left: 0">
                        <div class="form-group">
                            <label for="entity">Entidate</label>
                            <input (keypress)="digitOnly($event)" type="text"  class="form-control">
                        </div>
                    </div>
                    <div class="col-md-1" style="padding-right: 0; padding-left: 0"></div>
                    <div class="col-md-3" style="padding-right: 0; padding-left: 0">
                        <div class="form-group">
                            <label for="reference">Referência</label>
                            <input (keypress)="digitOnly($event)" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-1" style="padding-right: 0; padding-left: 0"></div>
                <div class="col-md-5">
                    <div class="form-group" >
                        <label for="value">Valor do Pagamento</label>
                        <div class="row">
                            <input (keypress)="digitOnly($event)" type="text" class="form-control" style="text-align: right">
                        </div>


                        <div class="row col-md-12" style="padding-right: 0; padding-left: 0">
                            <div class="col-md-7" style="padding-right: 5px; padding-left: 0" >
                                <input (keypress)="digitOnly($event)" type="text" class="form-control" style="text-align: right"> 
                            </div>
                            <div class="col-md-1" style="padding-right: 0; padding-left: 5px">
                                <h5 class="payment-value">,</h5>
                            </div>
                            <div class="col-md-2" style="padding-right: 0; padding-left: 0">
                                <input (keypress)="digitOnly($event)" type="text" class="form-control" length="2">
                            </div>
                            <div class="col-md-1" style="padding-right: 0; padding-left: 5px">
                                <h5 class="payment-value">€</h5>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="row col-md-12" style="padding-right: 0">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row col-md-12">
                                <label for="transactionCode">Codigo de Segurança</label>
                            </div>
                            <div class="row col-md-12 form-inline security-code" *ngIf="!isEyeOpen">
                                <input type="password" class="form-control pass-control" style="padding-right: 0">
                                <i class="button fa fa-eye-slash eye-icon form-control" id="eyeClose" (click)="showPass()"></i>     
                            </div>
                            <div class="row form-inline security-code" *ngIf="isEyeOpen">
                                <input type="text" class="form-control pass-control" style="padding-right: 0">
                                <i class="button fa fa-eye eye-icon form-control" id="eyeClose" (click)="showPass()"></i> 
                            </div>
                        </div>
                    </div>

                           
                            
                                
                           
                 
                        <!-- <div class="col-xs-1" style="padding-top: 30px; padding-left: 0">
                            <button class="fa fa-eye-slash form-control" style="padding-right: 0"></button>
                        </div> -->
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="description">Descrição do Pagamento</label>
                    <textarea type="text" class="form-control" style="min-height: 115px"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row col-md-12">
    <div class="row" style="float: left; ">
        <div class="update mr-auto ml-auto">
            <button type="submit" class="btn btn-success" (click)="onSubmit()">Efetuar Pagamento</button>
            <button type="button" class="btn btn-secundary" (click)="resetForm()">Descartar</button>
            <button type="button" class="btn btn-danger" (click)="cancelFunction()">Cancelar</button>
        </div>
    </div>
</div>
