<div class="col-sm-12" style="padding: 0">
    <app-account-list [component]="this" ></app-account-list>
</div>

<div class="card card-payments col-sm-12" *ngIf="selectedAccount != null">
    <div class="card-header" >
        <h5 class="card-title">Pagamento de Serviços</h5>
    </div>
    <div class="card-body col-md-12">
        <div class="row col-md-12">
            <div class="col-md-6" style="padding-right: 0">
                <div class="row col-md-12">
                    <div class="col-md-6" style="padding-left: 0">
                        <div class="form-group">
                            <label for="entity">Entidate</label>
                            <input (keypress)="digitOnly($event)" type="text"  class="form-control" [(ngModel)]="paymentForm.value.entity">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="reference">Referência</label>
                            <input (keypress)="digitOnly($event)" type="text" class="form-control" [(ngModel)]="paymentForm.value.reference">
                        </div>
                    </div>
                </div>

                <div class="row col-md-12">
                        <div class="col-md-6" style="padding-left: 0">
                          <div class="form-group">
                            <label for="value">Valor da Transferência</label>
                            <div class="row col-md-12">
                              <div class="col-md-6" style="padding: 0">
                                <input (keypress)="digitOnly($event)" type="text" class="form-control" 
                                    style="text-align: right;" [(ngModel)]="paymentForm.value.euros"/>
                                    <!-- [ngClass]="{ 'is-invalid': submitted && f.euros.errors }"
                                    <div *ngIf="submitted && !!f.euros.errors" class="invalid-feedback">
                                        <div *ngIf="!!f.euros.required">First name is required</div>
                                    </div> -->
                              </div>
                              <div class="col-md-1" id="comma-sign">
                                <h5 class="payment-value"> ,</h5>
                              </div>
                              <div class="col-md-3 form-group" style="padding: 0">
                                <input (keypress)="digitOnly($event)" type="text" class="form-control" [(ngModel)]="paymentForm.value.cents"/>
                                    <!-- [ngClass]="{ 'is-invalid': submitted && f.cents.errors }"
                                    <div *ngIf="submitted && !!f.cents.errors" class="invalid-feedback">
                                        <div *ngIf="!!f.cents.errors.required">First name is required</div>
                                    </div> -->
                              </div>
                              <div class="col-md-1" id="euro-sign">
                                <h5 class="payment-value">€</h5>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6" style="padding-right: 0">
                            <div class="form-group" >
                                <label for="transactionCode">Codigo de Segurança</label>
                                <div class="col-md-12 security-code" *ngIf="!isEyeOpen" style="padding: 0">
                                    <div class="col-md-10" style="padding: 0">
                                        <input type="password" class="form-control pass-control" [(ngModel)]="paymentForm.value.transactionCode"/>
                                    </div>
                                    <div class="col-md-2" style="padding: 0">
                                        <span>
                                            <i class="button fa fa-eye-slash eye-icon " id="eyeClose" (click)="showPass()"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12 security-code" *ngIf="isEyeOpen" style="padding: 0">
                                    <div class="col-md-10" style="padding: 0">
                                        <input type="text" class="form-control pass-control" [(ngModel)]="paymentForm.value.transactionCode"/>
                                    </div>
                                    <div class="col-md-2" style="padding: 0">
                                        <span>
                                            <i class="button fa fa-eye eye-icon" id="eyeClose" (click)="showPass()"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description">Descrição do Pagamento</label>
                    <textarea type="text" class="form-control" style="min-height: 115px" [(ngModel)]="paymentForm.value.description"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row col-sm-12" *ngIf="selectedAccount != null" style="margin-left: 5px">
    <div class="row" style="float: left; ">
        <div class="update mr-auto ml-auto">
            <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="paymentForm.invalid">Efetuar Pagamento</button>
            <button type="button" class="btn btn-secundary" (click)="resetForm()">Descartar</button>
            <button type="button" class="btn btn-danger" (click)="cancelFunction()">Cancelar</button>
        </div>
    </div>
</div>
