.payment-value {
    padding-top: 5px;
}

.card-title {
    padding-left: 15px;
}

/* button {
    margin-left: 15px;
} */

.eye-icon {
    padding: 0.5rem;
    font-size: 180%;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

.pass-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    flex: 1;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

#eyeOpen {
    color: lightskyblue;
}

#eyeClose:hover {
    color: lightskyblue;
}

.security-code {
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    overflow: hidden;
}



