<div class="row col-md-8" style="padding-left: 15px;">
  <div class="card col-md-4" style="margin-right: 15px;">
    <input
      type="text"
      class="form-control"
      name="searchString"
      placeholder="Type to search by account number..."
      [(ngModel)]="searchString"
      style="border-width: 0; padding: 15px;"
    />
  </div>
  <div class="card col-md-2">
    <select
      class="form-control"
      value="ALL"
      name="status"
      #f
      (change)="fetchClients(f.value)"
      style="border-width: 0px; margin: auto;"
    >
      <ng-container *ngFor="let status of statusArray">
        <option [value]="status">{{ status }}</option>
      </ng-container>
    </select>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class=" text-primary">
          <tr>
            <th>
              Nome
            </th>
            <th>
              Email
            </th>
            <th>
              Morada
            </th>
            <th class="text-right">
              Estado
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients | filter: 'accountNumber':searchString" (click)="openModal(clientDetailsModal, client)">
            <td>
              {{ client.fullName }}
            </td>
            <td>
              {{ client.email }}
            </td>
            <td>
              {{ client.address }}
            </td>
            <td class="text-right">
              {{ client.status }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <div>
      <span>
        <a class="btn btn-primary" (click)="openModal(addClientModal, null)">Adicionar Cliente</a>
      </span>
    </div>
  </div>
</div>

<ng-template #clientDetailsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detalhes</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); activeModal = false;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <alert></alert>
    <form #editClientForm="ngForm" (ngSubmit)="updateClient(editClientForm)">
      <button type="button" class="btn btn-secondary" (click)="toggleEditMode()">{{ editButtonLabel }}</button>
      <button *ngIf="selectedClient.status === 'ACTIVE'" type="button" class="btn btn-danger"
        (click)="deactivateClient(selectedClient.id)">Desativar Cliente</button>
      <button *ngIf="selectedClient.status === 'INACTIVE'" type="button" class="btn btn-success"
        (click)="activateClient(selectedClient.id)">Ativar Cliente</button>
      <span *ngIf="editMode">
        | <button type="submit" class="btn btn-info">Guardar</button>
      </span>
      <div class="form-group">
        <label for="fullName">Nome Completo</label>
        <input type="text" class="form-control col-md-10" value="{{selectedClient.fullName}}" [disabled]="!editMode"
          [(ngModel)]="selectedClient.fullName" name="fullName">
      </div>
      <hr>
      <div class="row col-md-12">
        <div class="form-group" style="padding-right: 4.9%">
          <label for="birthDate">Data de Nascimento</label>
          <input type="date" class="form-control" value="{{selectedClient.birthDate}}" [disabled]="!editMode"
            [(ngModel)]="selectedClient.birthDate" name="birthDate">
        </div>
        <div class="form-group">
          <label for="nationality">Nacionalidade</label>
          <select class="form-control" value="{{selectedClient.nationality}}" [disabled]="!editMode"
            [(ngModel)]="selectedClient.nationality" name="nationality">
            <option *ngFor="let nationality of nationalities" [value]="nationality"
              [selected]="selectedClient.nationality === nationality">{{ nationality }}</option>
          </select>
        </div>
      </div>
      <div class="row col-md-12">
        <div class="form-group" style="padding-right: 4.9%">
          <label for="clientCC">Número de C.C.</label>
          <input type="text" class="form-control" value="{{selectedClient.clientCc}}" [disabled]="!editMode"
            [(ngModel)]="selectedClient.clientCc" name="clientCc">
        </div>
        <div class="form-group">
          <label for="nif">NIF</label>
          <input type="text" class="form-control" value="{{selectedClient.nif}}" [disabled]="!editMode"
            [(ngModel)]="selectedClient.nif" name="nif">
        </div>
      </div>
      <hr>
      <div class="form-group" style="padding-right: 4.9%">
        <label for="email">Email</label>
        <input type="email" class="form-control col-md-6" value="{{selectedClient.email}}" [disabled]="!editMode"
          [(ngModel)]="selectedClient.email" name="email">
      </div>
      <div class="row col-md-12">
        <div class="form-group" style="padding-right: 4.9%">
          <label for="phoneNumber">Telefone</label>
          <input type="text" class="form-control" value="{{selectedClient.phoneNumber}}" [disabled]="!editMode"
            [(ngModel)]="selectedClient.phoneNumber" name="phoneNumber">
        </div>
        <div class="form-group">
          <label for="mobileNumber">Telemóvel</label>
          <input type="text" class="form-control" value="{{selectedClient.mobileNumber}}" [disabled]="!editMode"
            [(ngModel)]="selectedClient.mobileNumber" name="mobileNumber">
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label for="address">Morada</label>
        <input type="text" class="form-control col-md-10" value="{{selectedClient.address}}" [disabled]="!editMode"
          [(ngModel)]="selectedClient.address" name="address">
      </div>
      <div class="row col-md-12">
        <div class="form-group" style="padding-right: 4.9%">
          <label for="zipCode">Código Postal</label>
          <input type="text" class="form-control" value="{{selectedClient.zipCode}}" [disabled]="!editMode"
            [(ngModel)]="selectedClient.zipCode" name="zipCode">
        </div>
        <div class="form-group" style="padding-right: 4.9%">
          <label for="county">Localidade</label>
          <input type="text" class="form-control" value="{{selectedClient.county}}" [disabled]="!editMode"
            [(ngModel)]="selectedClient.county" name="county">
        </div>
        <div class="form-group">
          <label for="country">País</label>
          <input type="text" class="form-control" value="{{selectedClient.country}}" [disabled]="!editMode"
            [(ngModel)]="selectedClient.country" name="country">
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #addClientModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Adicionar Cliente</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); activeModal = false;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #addClientForm="ngForm" (ngSubmit)="addClient(addClientForm)">
      <div class="form-group">
        <label for="fullName">Nome Completo*</label>
        <input type="text" class="form-control col-md-10" name="fullName" [(ngModel)]="newClient.fullName"
          [ngClass]="{ 'is-invalid': fullName.touched && fullName.errors }" #fullName="ngModel" required>
        <div *ngIf="fullName.touched && fullName.hasError('required')" class="invalid-feedback">Nome inválido</div>
      </div>
      <hr>
      <div class="row col-md-12">
        <div class="form-group" style="padding-right: 4.9%">
          <label for="birthDate">Data de Nascimento*</label>
          <input type="date" class="form-control" name="birthDate" [(ngModel)]="newClient.birthDate"
            [ngClass]="{ 'is-invalid': birthDate.touched && birthDate.errors }" #birthDate="ngModel" required>
          <div *ngIf="birthDate.touched && birthDate.hasError('required')" class="invalid-feedback">Data inválida</div>
        </div>
        <div class="form-group">
          <label for="nationality">Nacionalidade*</label>
          <select class="form-control" value="Selecionar" name="nationality" [(ngModel)]="newClient.nationality"
            [ngClass]="{ 'is-invalid': nationality.touched && nationality.errors }" #nationality="ngModel" required>
            <option *ngFor="let nationality of nationalities" [value]="nationality">{{ nationality }}</option>
          </select>
          <div *ngIf="nationality.touched && nationality.hasError('required')" class="invalid-feedback">Nacionalidade
            inválida</div>
        </div>
      </div>
      <div class="row col-md-12">
        <div class="form-group" style="padding-right: 4.9%">
          <label for="clientCC">Número de C.C.*</label>
          <input type="text" class="form-control" name="clientCc" [(ngModel)]="newClient.clientCc"
            [ngClass]="{ 'is-invalid': clientCc.touched && clientCc.errors }" #clientCc="ngModel" required>
          <div *ngIf="clientCc.touched && clientCc.hasError('required')" class="invalid-feedback">Número de C.C.
            inválido</div>
        </div>
        <div class="form-group">
          <label for="nif">NIF*</label>
          <input type="text" class="form-control" name="nif" [(ngModel)]="newClient.nif"
            [ngClass]="{ 'is-invalid': nif.touched && nif.errors }" #nif="ngModel" required>
          <div *ngIf="nif.touched && nif.hasError('required')" class="invalid-feedback">NIF inválido</div>
        </div>
      </div>
      <hr>
      <div class="form-group" style="padding-right: 4.9%">
        <label for="email">Email*</label>
        <input type="email" class="form-control col-md-6" name="email" [(ngModel)]="newClient.email"
          [ngClass]="{ 'is-invalid': email.touched && email.errors }" #email="ngModel" required>
        <div *ngIf="email.touched && email.hasError('required')" class="invalid-feedback">Email inválido</div>
      </div>
      <div class="row col-md-12">
        <div class="form-group" style="padding-right: 4.9%">
          <label for="phoneNumber">Telefone</label>
          <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="newClient.phoneNumber">
        </div>
        <div class="form-group">
          <label for="mobileNumber">Telemóvel</label>
          <input type="text" class="form-control" name="mobileNumber" [(ngModel)]="newClient.mobileNumber">
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label for="address">Morada*</label>
        <input type="text" class="form-control col-md-10" name="address" [(ngModel)]="newClient.address"
          [ngClass]="{ 'is-invalid': address.touched && address.errors }" #address="ngModel" required>
        <div *ngIf="address.touched && address.hasError('required')" class="invalid-feedback">Morada inválida</div>
      </div>
      <div class="row col-md-12">
        <div class="form-group" style="padding-right: 4.9%">
          <label for="zipCode">Código Postal*</label>
          <input type="text" class="form-control" name="zipCode" [(ngModel)]="newClient.zipCode"
            [ngClass]="{ 'is-invalid': zipCode.touched && zipCode.errors }" #zipCode="ngModel" required>
          <div *ngIf="zipCode.touched && zipCode.hasError('required')" class="invalid-feedback">Código postal inválido
          </div>
        </div>
        <div class="form-group" style="padding-right: 4.9%">
          <label for="county">Localidade*</label>
          <input type="text" class="form-control" name="county" [(ngModel)]="newClient.county"
            [ngClass]="{ 'is-invalid': county.touched && county.errors }" #county="ngModel" required>
          <div *ngIf="county.touched && county.hasError('required')" class="invalid-feedback">Localidade inválida</div>
        </div>
        <div class="form-group">
          <label for="country">País*</label>
          <input type="text" class="form-control" name="country" [(ngModel)]="newClient.country"
            [ngClass]="{ 'is-invalid': country.touched && country.errors }" #country="ngModel" required>
          <div *ngIf="country.touched && country.hasError('required')" class="invalid-feedback">País inválido</div>
        </div>
      </div>
      <hr>
      <div class="row col-md-12">
        <div class="form-group" style="padding-right: 4.9%">
          <label for="username">Username*</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="newClient.username"
            [ngClass]="{ 'is-invalid': username.touched && username.errors }" #username="ngModel" required>
          <div *ngIf="username.touched && username.hasError('required')" class="invalid-feedback">Username inválido
          </div>
        </div>
      </div>
      <div class="row col-md-12">
        <div class="form-group" style="padding-right: 4.9%">
          <label for="password">Password*</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="newClient.loginPassword"
            [ngClass]="{ 'is-invalid': loginPassword.touched && loginPassword.errors }" #loginPassword="ngModel"
            required>
          <div *ngIf="loginPassword.touched && loginPassword.hasError('required')" class="invalid-feedback">Password
            inválida</div>
          <button type="button" class="btn btn-secondary" (click)="generatePassword('password')">Gerar</button> |
          <button type="button" class="btn btn-success">Imprimir</button>
        </div>
        <div class="form-group">
          <label for="transactionPassword">Password para transações</label>
          <input type="password" class="form-control" name="transactionPassword"
            [(ngModel)]="newClient.transactionPassword"
            [ngClass]="{ 'is-invalid': transactionPassword.touched && transactionPassword.errors }"
            #transactionPassword="ngModel" required>
          <div *ngIf="transactionPassword.touched && transactionPassword.hasError('required')" class="invalid-feedback">
            Password para transações inválida
          </div>
          <button type="button" class="btn btn-secondary"
            (click)="generatePassword('transactionPassword')">Gerar</button> |
          <button type="button" class="btn btn-success">Imprimir</button>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label for="accountType">Tipo de conta*</label>
        <div class="row col-md-12">
          <div class="custom-control custom-radio" style="padding-right: 4.9%">
            <input type="radio" class="custom-control-input" id="currentAccount" name="accountType" value="CURRENT"
              [(ngModel)]="newAccount.type">
            <label class="custom-control-label" for="currentAccount">Conta à ordem</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="savingsAccount" name="accountType" value="SAVINGS"
              [(ngModel)]="newAccount.type">
            <label class="custom-control-label" for="savingsAccount">Conta poupança</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="iban">Saldo inicial(€)*</label>
        <input type="number" class="form-control" name="balance" [(ngModel)]="newAccount.balance"
          [ngClass]="{ 'is-invalid': balance.touched && balance.errors }" #balance="ngModel" required [min]=500>
        <div *ngIf="balance.touched && balance.hasError('required')" class="invalid-feedback">O saldo tem de ser maior
          ou igual que 500€</div>
      </div>

      <button type="button" class="btn btn-success">Imprimir dados de conta</button>
      <div>* Campo Obrigatório</div>
      <alert></alert>
      <hr>
      <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>
  </div>
</ng-template>